@charset "utf-8";

@font-face {
  font-family: "normal_icon";
  src: url("../../fonts/normal_icon.woff?v=1.0") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sns_icon";
  src: url("../../fonts/sns_icon.woff?v=1.0") format("woff");
  font-weight: normal;
  font-style: normal;
}




/* --------------------------------------------------------
 ISSUEテーマ
--------------------------------------------------------- */

/* メニュー作成画面 */
.custom_nav_catch_field { display:none; }
#menu-to-edit.global_active_menu .menu-item-depth-0 .custom_nav_catch_field { display:block; }


/* 画像プレビュー付きテーマオプション */
.option_with_image_preview { display:flex; flex-wrap:wrap; border-bottom:1px solid #ddd; margin:0 -20px; }
.option_with_image_preview:first-of-type { margin-top:-20px; }
.option_with_image_preview .image_area { width:300px; background:#fff; padding:30px 10px 30px 20px; }
.option_with_image_preview .image_area img { max-width:100%; border:1px solid #ccc; height:auto; display:block; }
.option_with_image_preview .option_area { width:calc(100% - 370px); padding:10px 20px; }
.option_with_image_preview .option_list .standard_radio_button { width:100%; max-width:calc(100% - 210px); }
.option_with_image_preview .option_list .label { min-width:200px; }
.option_list .num { width:25px; height:25px; line-height:25px; display:inline-block; background:#d90000; border-radius:100%; text-align:center; color:#fff; font-weight:600; margin:0 10px 0 0; }
.option_list .num_space { width:35px; display:inline-block; }
@media screen and (max-width:1450px) {
  .option_with_image_preview .option_area { padding:0 20px; }
  .option_with_image_preview .option_list { width:100%; }
  .option_with_image_preview .option_list li { padding-bottom:10px; }
  .option_with_image_preview .option_list .label { min-width:inherit; float:none; margin:0 0 10px 0 !important; display:block; }
  .option_with_image_preview .option_list .standard_radio_button { float:none; max-width:inherit; }
  .option_with_image_preview .option_list .font_size_option { float:none; }
}
@media screen and (max-width:1150px) {
	.option_with_image_preview { display:block; }
  .option_with_image_preview .image_area { width:auto; padding:30px 20px 0px; }
  .option_with_image_preview .image_area img { max-width:350px; margin:0 auto; }
  .option_with_image_preview .option_area { width:auto; }
  .option_list .num_space { width:35px; display:none; }
}
@media screen and (max-width:500px) {
  .option_with_image_preview .image_area img { max-width:100%; }
}


/* フロントページのイメージ */
.front_page_image { background:#f6f6f6; margin:-20px -20px 30px; border-bottom:1px solid #ddd; padding:30px; display:flex; flex-wrap:wrap; justify-content:center; }
.front_page_image .item { margin:0 10px; }
.front_page_image img { border:1px solid #ddd; display:block; margin:0 auto; max-width:400px; }
.front_page_image.middle { margin:10px 0 20px; border:none; }
.simple_sample_image { max-width:350px; border:1px solid #ddd; display:block; margin:0 auto 30px; }
@media screen and (max-width:1300px) {
	.front_page_image { display:block; }
  .front_page_image .item { margin:0; }
  .front_page_image .item:last-of-type { margin-top:20px; }
}
@media screen and (max-width:550px) {
  .front_page_image img { max-width:100%; }
  .single_sample_image { max-width:100%; }
}



/* カテゴリーページ用　フロントページのイメージ */
.category_front_page_image { background:#f6f6f6; padding:30px; margin:-20px -20px -10px; border-bottom:1px solid #ddd; }
.category_front_page_image img { display:block; max-width:350px; height:auto; margin:0 auto; border:1px solid #ddd; }
.service_category_message { margin:0px 0px 40px !important; box-shadow:none !important; }
@media screen and (max-width:450px) {
  .category_front_page_image img { max-width:100%; }
}


/* トップページのスライダー */
#index_slider_layout { margin-right:-1em; margin-bottom:30px; }
#index_slider_layout .tcd_admin_image_radio_button + label { width:calc(100% / 3 - 1.5em); }


/* ロード画面 */
#loading_logo_catch_area { display:flex; flex-wrap:wrap; }
#loading_logo_catch_area.type4 { flex-direction:column-reverse; }
#loading_logo_catch_area .option_item { width:100%; }


/* イメージ */
.cb_image { border-bottom:1px solid #ddd; margin:0 -15px 30px; background:#f6f6f6; padding:30px; display:flex; flex-wrap:nowrap; justify-content:center; }
.cb_image.middle { border:none; margin:20px 0 0 !important; }
.ccm_content .cb_image { margin:-20px -20px 30px; }
.tcd_cf_content .cb_image { margin:20px 0 0 0; border-bottom:none; }
.theme_option_field_ac_content .cb_image { margin:0 -20px 30px; }
.theme_option_field_ac_content > .cb_image { margin-top:-20px; }
.cb_image img { width:350px; height:auto; display:block; margin:0 auto; border:1px solid #ccc; max-width:100%; }
.cb_image .item { max-width:50%; margin:0 auto; }
.cb_image .item:last-of-type { margin-left:25px; }
.cb_image .item:only-of-type { margin-left:auto; }
.cb_image .item span { text-align:center; display:block; padding-top:20px; font-size:12px; }
@media screen and (max-width:1000px) {
	.cb_image { display:block; }
  .cb_image .item { max-width:100%; }
  .cb_image .item:last-of-type { margin-left:auto; margin-top:30px; }
}

/* 固定ページのヘッダー */
#normal_header, #lp_header { display:none; }
#page_header_type1:checked ~ #normal_header,
#page_header_type2:checked ~ #lp_header { display:block; }


/* お知らせカテゴリー */
.column-news_category a:after { content:','; margin-right:1em; }
.column-news_category a:last-of-type:after { display:none; }


/* スタッフカテゴリー */
.column-staff_category a:after { content:','; margin-right:1em; }
.column-staff_category a:last-of-type:after { display:none; }
body.taxonomy-staff_category .term-parent-wrap { display:none; }


/* インタビューカテゴリー */
.column-interview_category a:after { content:','; margin-right:1em; }
.column-interview_category a:last-of-type:after { display:none; }
body.taxonomy-interview_category .term-parent-wrap { display:none; }
body.taxonomy-interview_category .term-description-wrap { display:none; }


/* 固定ページのカスタムフィールド */
#cb_meta_box { display:none; }


/* コンテンツビルダーモバイル用オプションの画像サイズ調整 */
.design_radio_button2.cb_layout_option.mobile li img { width:50px !important; margin:auto; }
.design_radio_button2.cb_slider_layout_option.mobile li img { width:50px !important; margin:auto; }


/* ロード画面 */
.tcd_admin_image_radio_button + label .loading_icon_wrap { width:150px; height:150px; display:block; overflow: hidden; position:relative; background:#fff; }

/* サークルアイコン */
.circular_loader { width:40px; position:absolute; z-index:10; left:50%; top:50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.circular_loader:before { content:''; display:block; padding-top:100%; }
.circular_loader .circular { width:100%; height:100%; -webkit-animation: circular_loader_rotate 2s linear infinite; animation: circular_loader_rotate 2s linear infinite; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; position: absolute; top:0; bottom:0; left:0; right:0; margin:auto; }
.circular_loader .path { stroke: #000000; stroke-dasharray: 1, 200; stroke-dashoffset: 0; stroke-linecap: round; -webkit-animation: circular_loader_dash 1.5s ease-in-out infinite; animation: circular_loader_dash 1.5s ease-in-out infinite; }
@-webkit-keyframes circular_loader_rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes circular_loader_rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes circular_loader_dash { 0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; } 50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35; } 100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124; } }
@keyframes circular_loader_dash { 0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; } 50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35; } 100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124; } }

/* スクエアアイコン */
.sk-cube-grid { width:40px; height:40px; z-index:10; position:absolute; left:50%; top:50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.sk-cube-grid .sk-cube { background-color: #000; width:33%; height:33%; float:left; -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;  }
.sk-cube-grid .sk-cube1 { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 { -webkit-animation-delay: 0s; animation-delay: 0s; }
.sk-cube-grid .sk-cube8 { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
@-webkit-keyframes sk-cubeGridScaleDelay { 0%, 70%, 100% { -webkit-transform: scale3D(1, 1, 1); transform: scale3D(1, 1, 1); } 35% { -webkit-transform: scale3D(0, 0, 1); transform: scale3D(0, 0, 1); } }
@keyframes sk-cubeGridScaleDelay { 0%, 70%, 100% { -webkit-transform: scale3D(1, 1, 1); transform: scale3D(1, 1, 1); } 35% { -webkit-transform: scale3D(0, 0, 1); transform: scale3D(0, 0, 1); } }

/* ドットサークルアイコン */
.sk-circle { width:40px; height:40px; z-index:10; position:absolute; left:50%; top:50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.sk-circle .sk-child { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }
.sk-circle .sk-child:before { background-color:#000; content: ''; display: block; margin: 0 auto; width: 15%; height: 15%; border-radius: 100%; -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
.sk-circle .sk-circle2 { -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); }
.sk-circle .sk-circle3 { -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg); }
.sk-circle .sk-circle4 { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
.sk-circle .sk-circle5 { -webkit-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg); }
.sk-circle .sk-circle6 { -webkit-transform: rotate(150deg); -ms-transform: rotate(150deg); transform: rotate(150deg); }
.sk-circle .sk-circle7 { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.sk-circle .sk-circle8 { -webkit-transform: rotate(210deg); -ms-transform: rotate(210deg); transform: rotate(210deg); }
.sk-circle .sk-circle9 { -webkit-transform: rotate(240deg); -ms-transform: rotate(240deg); transform: rotate(240deg); }
.sk-circle .sk-circle10 { -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); }
.sk-circle .sk-circle11 { -webkit-transform: rotate(300deg); -ms-transform: rotate(300deg); transform: rotate(300deg); }
.sk-circle .sk-circle12 { -webkit-transform: rotate(330deg); -ms-transform: rotate(330deg); transform: rotate(330deg); }
.sk-circle .sk-circle2:before { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
.sk-circle .sk-circle3:before { -webkit-animation-delay: -1s;  animation-delay: -1s; }
.sk-circle .sk-circle4:before { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
.sk-circle .sk-circle5:before { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
.sk-circle .sk-circle6:before { -webkit-animation-delay: -0.7s; animation-delay: -0.7s; }
.sk-circle .sk-circle7:before { -webkit-animation-delay: -0.6s; animation-delay: -0.6s; }
.sk-circle .sk-circle8:before { -webkit-animation-delay: -0.5s; animation-delay: -0.5s; }
.sk-circle .sk-circle9:before { -webkit-animation-delay: -0.4s; animation-delay: -0.4s; }
.sk-circle .sk-circle10:before { -webkit-animation-delay: -0.3s; animation-delay: -0.3s; }
.sk-circle .sk-circle11:before { -webkit-animation-delay: -0.2s; animation-delay: -0.2s; }
.sk-circle .sk-circle12:before { -webkit-animation-delay: -0.1s; animation-delay: -0.1s; }
@-webkit-keyframes sk-circleBounceDelay { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 40% { -webkit-transform: scale(1); transform: scale(1); } }
@keyframes sk-circleBounceDelay { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 40% { -webkit-transform: scale(1); transform: scale(1); } }


/* サブボックス内のタブ */
.sub_box_tab {
	margin-top:20px;
  display:-webkit-box; display:-webkit-flex; display:flex;
  overflow-x: auto; overflow-y: hidden;
}
.sub_box_tab .tab {
	position:relative; cursor:pointer; font-weight:600; white-space:nowrap; width:170px; flex: 0 0 170px;
  background:#f5f5f5; text-align:center; height:50px; line-height:50px; margin:0 10px 10px 0;
}
.sub_box_tab .tab:last-of-type { margin-right:0; }
.sub_box_tab .tab .label { display:block; width:calc(100% - 40px); overflow:hidden; white-space:nowrap; text-overflow:ellipsis; visibility:visible; padding:0 20px; }
.sub_box_tab .tab:hover { color:#2271b1; }
.sub_box_tab .tab.active { background:#ddeaf5; color:#2271b1; pointer-events:none; }
.sub_box_tab .tab.active:after {
	content:''; position:absolute; bottom:-10px; left:50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);
  width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 10px; border-color: #ddeaf5 transparent transparent transparent;
}
.sub_box_tab_content { display:none; }
.sub_box_tab_content.active { display:block; }
@media screen and (max-width: 782px) {
  .sub_box_tab .tab { min-width:100px; height:40px; line-height:40px; margin:0 7px 7px 0; font-size:12px; }
  .sub_box_tab .tab.active:after { bottom:-7px; border-width: 7px 7px 0 7px; }
}


/* ロゴ */
#header_logo_type1_area, #header_logo_type2_area { display:none; }
#header_logo_type1:checked ~ #header_logo_type1_area,
#header_logo_type2:checked ~ #header_logo_type2_area { display:block; }


/* タグ一覧 */
.tag_check_list li { display:inline-block; }
.tag_check_list input { display:none; }
.tag_check_list span {
  display:block; font-size:12px; color:#8c8f94; line-height: 2.95;
  background:#f9f9f9; padding:0px 1em; border:1px dotted #8c8f94; border-radius: 5px; position:relative;
}
.tag_check_list span:hover { background:#e8f3ff; }
.tag_check_list input:checked + span {
  background:#f5faff; border:1px solid #1763a3; color:#1763a3;
}
.tag_check_list input:checked + span:hover { background:#e8f3ff; }


/* メインカラーを使う */
.use_main_color .wp-picker-container { margin-right:20px; }
.use_main_color_checkbox { float:left; }


/* 登録可能な文字数 */
.check_characters_hint { font-size:12px; font-weight:600; margin-top:10px; background:#bce3eb; padding:10px 15px; display:inline-block; position:relative; }
.check_characters_hint:before {
  display:block; content:'';
  width:0; height:0; position:absolute; top:-6px; left:0; right:0; margin:auto;
  border-style: solid; border-width: 0 6px 6px 6px;
  border-color: transparent transparent #bce3eb transparent;
}




/* --------------------------------------------------------
 テーマオプション　新規追加
--------------------------------------------------------- */

/* シンプルなリピーターフィールド */
.simple_repeater { background:#7b8999; padding:15px 15px 10px; border-radius:5px; min-height:57px; }
.simple_repeater_item {
  width:100%; height:52px; overflow:hidden; position:relative; background:#fff; border:1px solid rgba(0,0,0,0.5); box-shadow:0 0 3px 0 rgba(0,0,0,0.6); margin:0 0 5px 0;
 -webkit-box-sizing:border-box; box-sizing:border-box;
}
.simple_repeater_item_placeholder { height:52px; margin:0 0 5px 0; background:rgba(0,0,0,0.2); }
.simple_repeater_item .input_field { margin:0; }
.simple_repeater_item .input_field input {
  width:calc(100% - 115px); position:absolute; left:55px; top:5px; height:40px !important;
  border-radius:0; border:1px solid #bbb; background:#fff; box-shadow:inset 1px 1px 3px 0px rgba(0,0,0,0.1) ;
}
.simple_repeater_item .input_field input:focus { border:1px solid #3fbdf2; }
.simple_repeater_item .input_field.left input { width:calc(50% - 60px); left:55px; }
.simple_repeater_item .input_field.right input { width:calc(50% - 60px); left:auto; right:55px; }
.simple_repeater_item .handle { width:50px; height:50px; border-right:1px solid #ddd; position:absolute; top:0px; left:0px; margin:0; cursor:move; }
.simple_repeater_item .handle:before {
  content:'\f0c9'; font-family: 'normal_icon'; color:#666; font-size:14px; position:relative; top:16px; left:19px;
}
.simple_repeater_item .handle:hover { background:#e0f7ff; }
.simple_repeater_item .delete_item { width:50px; height:50px; position:absolute; top:0px; right:0px; border-left:1px solid #ddd; text-decoration:none; }
.simple_repeater_item .delete_item:before {
  content:'\e91a'; font-family: 'normal_icon'; color:#000; font-size:16px; position:relative; top:17px; left:17px;
}
.simple_repeater_item .delete_item:hover { background:#e0f7ff; }
.simple_repeater_container .add_new_item { margin:15px auto 30px; display:block; width:250px; text-align:center; height:50px; line-height:50px; }


/* ページビルダーのボタン */
.design_button_list { margin:0 -10px -10px 0; }
.design_button_list li {
  width:calc(100% / 4 - 10px); float:left; margin:0 10px 10px 0; font-size:11px;
  -webkit-box-sizing:border-box; box-sizing:border-box;
}
.design_button_list li:nth-child(4n) { margin-right:0; }
@media screen and (max-width:781px) {
  .design_button_list li { width:calc(50% - 10px); }
  .design_button_list li:nth-child(2n) { margin-right:0; }
}
.design_button_list li a {
  display:block; text-decoration:none; text-align:center; padding:0 15px; position:relative;
  background:#546b8e; color:#fff; height:45px; line-height:45px; border-radius:3px;
  border:1px solid #272f40; box-shadow:0 2px 0 0 #a8abbb;
  overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.design_button_list li a:hover { background:#13cae0; border:1px solid #3ea5b1; }
.design_button_list li a.icon_link:before {
	display:block; content:'\e92a'; font-family:'normal_icon'; font-size:20px; font-weight:500;
	position:absolute; right:15px; top:1px;
}

/* メガメニュー */
.megamenu_image { margin-right:-20px; }
.megamenu_image li { float:left; width:calc(100% / 2 - 20px); text-align:center; margin:0 20px 0 0;}
.megamenu_image li:nth-of-type(2n) { margin-right:0; }
.megamenu_image li img { display:block; width:100%; height:auto; border:1px solid #ccc; }




/* --------------------------------------------------------
 フッターの固定メニュー
--------------------------------------------------------- */
/* アイコンの設定 */
.footer_bar_icon_type { display:flex; flex-wrap:wrap; }
.footer_bar_icon_type li { text-align:center; width:40px; margin:0 10px 10px 0 !important; }
.footer_bar_icon_type input { display:none; margin:0 auto; }
.footer_bar_icon_type .icon { display:block; width:40px; height:40px; line-height:42px; background:#fff; border:1px solid #ddd; border-radius:5px; position:relative; }
.footer_bar_icon_type .icon_label { display:block; height:40px; line-height:42px; width:90px; background:#fff; border:1px solid #ddd; border-radius:5px; position:relative; font-weight:600; }
.footer_bar_icon_type .icon.no_icon { width:90px; }
.footer_bar_icon_type .icon:hover, .footer_bar_icon_type .icon_label:hover,
.footer_bar_icon_type input:checked + .icon, .footer_bar_icon_type input:checked + .icon_label { background:#e9f5ff; border-color:#2271b1; color:#2271b1; }
.footer_bar_icon_type .icon { font-family: 'normal_icon','sns_icon'; font-size:20px; position:relative; }
.footer_bar_icon_type .icon.google_font {
  font-family: 'Material Symbols Rounded'; font-weight: 300; font-style: normal;
  font-size: 23px; letter-spacing: normal; text-transform: none;
  display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr;
  -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased;
}
.footer_bar_icon_type .icon.Twitter { font-size:17px; }
.footer_bar_icon_type .icon.Facebook { font-size:22px; }

.right-align { text-align: right; }
.table-border { border-collapse: collapse; }
.table-border th, .table-border td { border: 1px solid #e5e5e5; padding: 8px 10px; }
.table-border th { background: #f9f9f9; font-weight: normal; min-width: 100px; text-align: left; }
.table-icon th, .table-icon td { padding: 8px 10px; }
.table-icon th { font-weight: normal; }
.table-repeater { margin: 1em 0; width: 100%; }
.table-repeater th { font-weight: normal; min-width: 150px; text-align: left; vertical-align: top; }
.topt_table { border-collapse: collapse; margin: 10px 0; width: 100%; }
.topt_table div.cf_media_field { padding: 0; }
.topt_table th { font-weight: normal; padding: 3px 3px 3px 0; text-align: left; vertical-align: top; }
.topt_table td { padding: 3px 0 3px 3px; text-align: left; vertical-align: top; }
table.cf_repeater { border: 1px solid #ddd; border-collapse: collapse; margin: 15px 0; width: 100%; }
table.cf_repeater th, table.cf_repeater td { border: 1px solid #ddd; padding: 3px 5px; }
table.cf_repeater th { background: #eee; }
table.cf_repeater th.col-headline { width: 30%; }
table.cf_repeater th.col-delete { width: 5%; }
table.cf_repeater td.col-delete { text-align: center; }

@media screen and (max-width: 782px) {
  .topt_table th, .topt_table td, .topt_table tr { display: block; }
}


/* --------------------------------------------------------
 リピーターフィールド
--------------------------------------------------------- */
/* リピーター */
.repeater { margin:0 0 15px 0; }


/* 移動、削除ボタン */
.repeater_button { margin:0; }
.repeater_button li { float:left; margin:0; margin:0; font-size:12px; }
.repeater_button .repeater_move { background:#ddd; cursor:move; display:block; padding:0px 20px 0 30px; height:25px; line-height:25px; z-index:2; position:relative; border-radius:4px 0 0 0 ; }
.repeater_button .repeater_move:after {
 content:''; display:block; width:0; height:0; position:absolute; top:0px; right:-25px;
 border-style: solid; border-width: 25px 0 0 25px; border-color: transparent transparent transparent #ddd;
}
.repeater_button .repeater_delete { background:#ccc; display:block; cursor:pointer; padding:0 10px 0 35px; height:25px; line-height:25px; z-index:1; position:relative; }
.repeater_button .repeater_delete:after {
 content:''; display:block; width:0; height:0; position:absolute; top:0px; right:-25px;
 border-style: solid; border-width: 25px 0 0 25px; border-color: transparent transparent transparent #ccc;
}
.repeater_button .repeater_delete:hover { background:#d01010; color:#fff; }
.repeater_button .repeater_delete:hover:after { border-color: transparent transparent transparent #d01010; }


/* コンテンツ */
.repeater_content { background:#ddd; border-radius:0 4px 4px 4px; padding:10px; }
.repeater_field { background:#fff; padding:15px; margin:0; border:1px solid #ccc; border-top:none; display:none; }
.repeater.open .repeater_field { display:block; }
.repeater_field .field-textarea textarea.small { height:70px; }


/* 入力欄 */
.repeater_field .field { margin:0 0 25px 0; }
.repeater_field h4.headline { font-weight:bold; font-size:15px; padding:0 0 12px 0; border-bottom:1px solid #ccc; margin:0 0 10px 0; }
.repeater_field h4.headline:before { content:''; display:block; float:left; width:5px; height:20px; background:#1385b0; margin:0px 8px 0 0; -webkit-border-radius:1px; border-radius:1px; }
.repeater_field .mce-tinymce iframe, .cb_row .mce-tinymce iframe { min-height:300px !important; }
.repeater_field .preview_field img { display:block; height:auto; margin:0 0 15px; max-height:120px; max-width:200px; width:auto; background:#ccc; }
#contents_builder .wp-editor-wrap iframe { min-height:250px !important; }
#contents_builder .wp-editor-wrap textarea.wp-editor-area { min-height:250px !important; }


/* ドラッグしている時のプレースホルダー */
.repeater_wrap .ui-sortable-placeholder {
  border:1px dashed #70cece; background-color:#d9f4f4; height:95px; visibility: visible !important;
  -webkit-border-radius:3px; border-radius:3px;
}
.repeater.ui-sortable-helper { opacity:0.8; }


/* 繰り返しフィールド追加 */
.theme_option_field_ac .sortable-placeholder, .cb_content .sortable-placeholder { height:50px; background-color:rgba(0,0,0,0.1); margin:0 0 7px 0; visibility: visible !important; border:none; }
.theme_option_field_ac .repeater.sortable, .cb_content .repeater { background:#dbe1e8; padding:10px 10px 1px; border-radius:5px; min-height:57px; }
.theme_option_field_ac .repeater.sortable .sub_box, .cb_content .repeater .sub_box { background:#fff; border-color:#aaa; }
.theme_option_field_ac .repeater.sortable .theme_option_subbox_headline, .cb_content .repeater .theme_option_subbox_headline { cursor:move; border-color:#aaa; border-bottom-color:#aaa; }
.theme_option_field_ac .repeater.sortable .theme_option_subbox_headline:before, .cb_content .repeater .theme_option_subbox_headline:before { cursor:pointer; }
.theme_option_field_ac .repeater.sortable .sub_box .sub_box .theme_option_subbox_headline, .cb_content .repeater .sub_box .sub_box .theme_option_subbox_headline { cursor:pointer; }




/* --------------------------------------------------------
 カスタムフィールド
--------------------------------------------------------- */
.tcd_cf_headline { font-weight:bold; font-size:15px; padding:0 0 12px 0; border-bottom:1px solid #ccc; margin:20px 0 10px 0; }
.tcd_cf_headline:before { content:''; display:block; float:left; width:5px; height:20px; background:#1763a3; margin:0px 8px 0 0; border-radius:1px; }
.tcd_cf_headline2 { font-weight:bold; font-size:15px; padding:0 0 6px 0; border-bottom:1px dotted #ccc; margin:20px 0 6px 0; }
.tcd_cf_headline2:before { content:''; display:block; float:left; width:12px; height:12px; background:#1763a3; margin:4px 9px 0 0; border-radius:2px; }
.tcd_cf_content { margin:0 -13px 20px; padding:0 13px 20px; border-bottom:1px solid #ddd; }
.tcd_custom_fields > .tcd_cf_content:last-child, .tcd_cf_content.last { border:none; margin-bottom:0; padding-bottom:0; }
.tcd_cf_content .wp-editor-wrap iframe { min-height:300px !important; }
.tcd_cf_content .wp-editor-wrap textarea.wp-editor-area { min-height:300px !important; }
.tcd_cf_content .theme_option_message { box-shadow:none; }
.tcd_cf_content .theme_option_message p { font-size:11px; }
.tcd_custom_field_wrap { background:#61738a; padding:15px 15px 5px; margin:-7px -14px -14px; }


/* WP5.0から実装されたブロックエディタ用 */
.edit-post-layout__metaboxes .tcd_custom_fields { padding:15px 0;  }
.edit-post-layout__metaboxes .tcd_custom_fields > .tcd_cf_content:first-child .tcd_cf_headline { margin-top:5px; }


/* リピーターフィールド */
.tcd_cf_content .sortable-placeholder { height:50px; background-color:rgba(0,0,0,0.1); margin:0 0 7px 0; visibility: visible !important; border:none; }
.tcd_cf_content .repeater.sortable { background:#e9edee; padding:10px 10px 1px; border-radius:5px; border:1px solid #d0d6d7; min-height:57px; margin-bottom:15px; }
.tcd_cf_content .repeater.sortable .sub_box { background:#fff; }
.tcd_cf_content .repeater.sortable .theme_option_subbox_headline { cursor:move; }
.tcd_cf_content .repeater.sortable .theme_option_subbox_headline:before { cursor:pointer; }
.tcd_cf_content .repeater-wrapper.type2 .theme_option_subbox_headline span { margin:0 0 0 10px; display:inline-block; font-size:11px; font-weight:normal; }


/* 画像の読み込みフィールド */
.cf_media_field { }
.tcd_cf_content .preview_field img, .tcd_custom_field_wrap .preview_field img { display:block; max-width:200px; max-height:120px; width:auto; height:auto; background:#ccc; margin:0 0 15px 0; }
.preview_field.preview_field_video h4 { margin:0 0 10px 0; }
.preview_field.preview_field_video p { padding:15px; background:#def5f8; border:1px solid #8fcad1; border-radius:3px; margin:0 0 15px 0; }
.option_list .video_option { width: calc(100% - 365px); float: left; }


/* 横並び */
.cf_item_list {
  display:-webkit-box; display:-webkit-flex; display:flex;
  -webkit-flex-wrap:wrap; flex-wrap:wrap;
}
.cf_item_list .item { -webkit-flex: 1 1 0%; flex: 1 1 0%; margin:0 30px 0 0; }
.cf_item_list .item:last-of-type { margin-right:0; }
.cf_item_list .option_list .label { min-width:50%; margin:0; }
.cf_item_list .option_list select { max-width:50%; float:right; }
@media screen and (max-width:1100px) {
  .cf_item_list .option_list select { float:none; }
}




/* --------------------------------------------------------
　テーマオプション
--------------------------------------------------------- */
/* レイアウト */
#my_theme_option {
  background:#414c5b; margin:20px 0; overflow:hidden; border:1px solid #ccc; display:flex; display: -webkit-flex; border-radius:7px;
  -webkit-background-clip:padding-box; -moz-background-clip:padding; background-clip:padding-box;
}
#my_theme_left { float:left; width:20%; padding-bottom:50px; }
#my_theme_right {
  width:80%; min-height:500px; float:right; background:#61738a;
  border-radius:0 6px 6px 0; box-shadow:-10px 0px 35px 0px rgba(0,0,0,0.6);
  -webkit-box-sizing:border-box; box-sizing:border-box;
}
#tab-panel { padding:50px 30px 30px; }
.tab-content { display:none; }

@media screen and (max-width:900px) {
  #my_theme_option { display:block; background:none; border:none; }
  #my_theme_left { float:none; width:100%; padding:0; background:#414c5b; border-radius:6px; margin:0 0 20px 0; overflow:hidden; }
  #my_theme_right { float:none; min-height:inherit; width:100%; border-radius:6px; box-shadow:none; }
  #tab-panel { padding:15px 15px 5px; }
}


/* 左メニュー */
#theme_tab { margin:0; border-bottom:1px solid #6a7992; }
#theme_tab li { margin:0; }
#theme_tab li a { display:block; text-decoration:none; padding:14px 15px; line-height:1.6; border-bottom:1px solid #000; border-top:1px solid #6a7d96; color:#fff; font-size:100%; }
#theme_tab li:first-child a { border-top:none; border-radius:7px 0 0 0; }
#theme_tab li.current a, #theme_tab li.current a:hover { background:#61738a; position:relative; }
#theme_tab li a:hover { background:#617089; }
#theme_tab li a:focus { box-shadow:none; }

@media screen and (max-width:900px) {
  #theme_tab { font-size:0; margin-bottom:-2px; }
  #theme_tab li { margin:0; display:inline-block; width:calc(100% / 3); text-align:center; font-size:11px; }
  #theme_tab li a { border:none; border-bottom:1px solid #333; border-right:1px solid #333; }
  #theme_tab li a:focus { }
  #theme_tab li:nth-child(3n) a { border-right:none; }
}
@media screen and (max-width:500px) {
  #theme_tab li { width:50%;  }
  #theme_tab li:nth-child(3n) a { border-right:1px solid #333; }
  #theme_tab li:nth-child(2n) a { border-right:none; }
}


/* 入力エリア */
.theme_option_field { margin:0 0 10px 0; border:1px solid #313a45; padding:20px; box-shadow:0 0 4px 0px rgba(0,0,0,0.5); background:#fff; }
.theme_option_field2 { padding:1px 15px 25px; }
.theme_option_field.show_arrow { position:relative; margin-bottom:30px; }
.theme_option_field.show_arrow:after {
  display:block; content:''; width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent; position:absolute; bottom:-10px;
  left:50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%);
}
.theme_option_field.show_arrow:before {
  display:block; content:''; width: 0; height: 0; border-style: solid; border-width: 13px 13px 0 13px;
  border-color: rgba(0,0,0,0.3) transparent transparent transparent; position:absolute; bottom:-13px;
  left:50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%);
}


/* 見出し */
.theme_option_headline {
  font-size:16px; height:50px; line-height:50px; border-bottom:1px solid #ccc; margin:-20px -20px 18px; padding:0 20px;
  background:#eee; background:-webkit-linear-gradient(top, #ffffff, #eeeeee); background: linear-gradient(to bottom, #ffffff, #eeeeee);
}
.theme_option_headline2 { font-weight:bold; font-size:15px; padding:0 0 12px 0; border-bottom:1px solid #ccc; margin:30px 0 10px 0; }
.theme_option_headline2:before { content:''; display:block; float:left; width:5px; height:20px; background:#1763a3; margin:0px 8px 0 0; border-radius:1px; }
.theme_option_headline3 { border-bottom:1px solid #1763a3; font-size:15px; padding:0 0 7px 0; margin:20px 0 5px 0; position:relative; display:inline-block; }
.theme_option_headline4 { border-bottom:1px solid #ddd; }
.theme_option_headline4 span { border-bottom:2px solid #1763a3; font-size:15px; padding:0 0 10px 0; position:relative; bottom:-2px; display:inline-block; }
.theme_option_field input[type="file"] { cursor:pointer; border:1px solid #ccc; background:#fff; padding:5px 5px; border-radius:3px; float:left; margin:0 10px 0 0; }
.theme_option_headline2.first { margin-top:0; }
.theme_option_headline_number { border-bottom:1px solid #ddd; padding:0 0 10px 0; font-size:15px; }
.theme_option_headline_number .num { width:25px; height:25px; line-height:25px; display:inline-block; background:#d90000; border-radius:100%; text-align:center; color:#fff; font-weight:600; margin:0 10px 0 0; }


/* 入力エリアの開閉 */
.theme_option_field_ac { padding:0 20px 0; }
.theme_option_field_ac .theme_option_headline { margin:0 -20px; border:none; cursor:pointer; position:relative; }
.theme_option_field_ac .theme_option_headline:before {
  border-left:1px solid #ccc; height:50px; line-height:53px; text-align:center; vertical-align:middle;
  font-family:'normal_icon'; content:'\f0d7'; font-size:15px; color:#095fa9; display:block; width:50px; position:absolute; right:0px; top:0px;
}
.theme_option_field_ac .theme_option_headline:hover {
  color:#fff;
  background:#7c8ba1; background:-webkit-linear-gradient(top, #7c8ba1, #5f6d80); background: linear-gradient(to bottom, #7c8ba1, #5f6d80);
}
.theme_option_field_ac .theme_option_headline:hover:before { color:#fff; border-color:rgba(0,0,0,0.2); }
.theme_option_field_ac_content { display:none; }
.theme_option_field_ac.active .theme_option_field_ac_content { display:block; padding-bottom:20px; }
.theme_option_field_ac.active .theme_option_headline { border-bottom:1px solid #bbb; box-shadow: 0 3px 0 0 #f2f2f2; margin-bottom:20px; }
.theme_option_field_ac.active .theme_option_headline:hover { border-bottom:1px solid #333; }
.theme_option_field_ac.active .theme_option_headline:before { content:'\f0d8'; }


/* 常に開いた状態にする場合はopenとactiveを追加する */
.theme_option_field_ac.open .theme_option_headline:before { display:none; }
.theme_option_field_ac.open .theme_option_headline { pointer-events:none; }


/* 並び順の変更エリア（カスタムフィールドでも利用） */
.theme_option_field_order { background:#4e5e74; border:1px solid #3a4655; border-radius:5px; padding:15px 15px 5px; }
.theme_option_field_order .theme_option_field_ac { margin-bottom:10px; }
.theme_option_field_order .theme_option_headline { cursor:move; }
.theme_option_field_order .theme_option_field_ac .theme_option_headline:before { cursor:pointer; }
.theme_option_field_order_placeholder { background-color:rgba(0,0,0,0.3); margin:0 0 10px 0; visibility: visible !important; }


/* メッセージ（水色ver） */
.theme_option_message {
  background:#b3e1f2; color:#333; border-radius:4px; padding:12px 10px; margin:15px 0; position:relative;
  border-left:35px solid #7cc1dc; box-shadow:0 0 4px 0 rgba(0,0,0,0.5);
}
.theme_option_message:before {
  color:#fff; width:35px; height:35px; line-height:35px; text-align:center; vertical-align:middle;
  font-family:'normal_icon'; content:'\e913'; font-size:16px; display:block; position:absolute; left:-35px; top:2px; bottom:0; margin:auto;
}
.theme_option_message:after {
  display:block; content:''; width: 0; height: 0; border-style: solid; border-width: 7px 7px 0 7px;
  border-color: #b3e1f2 transparent transparent transparent; position:absolute; left:-35px; right:0; margin:auto; bottom:-6px;
}
.theme_option_message.no_arrow:after { display:none; }
.theme_option_message p { font-size:12px; margin:0; line-height:2; }
.theme_option_field .theme_option_message { box-shadow:none; }
.theme_option_field .theme_option_message p { font-size:11px; }
.theme_option_message .preview_page_image { margin:20px auto 10px; }
.theme_option_message .preview_page_image a { text-decoration:none; color:#fff; background:#0073aa; display:inline-block; height:40px; line-height:40px; padding:0 30px; position:relative; border-radius:40px; }
.theme_option_message .preview_page_image a:hover { background:#13cae0; }


/* メッセージ（グレーver） */
.theme_option_message2 { background:#f5f5f5; padding:2px 15px; margin:0 0 10px 0; }
.theme_option_message2 p { font-size:11px; line-height:2; }
.custon_post_usage_option_message { background:#ffeaea; border:1px solid #f91f1f; color:#f91f1f; }


/* ボタン */
.button-ml {
  cursor:pointer; color:#fff; font-size:14px; padding:0px 30px; height:35px; line-height:35px; margin:20px 0 0 0; display:block; text-decoration:none;
  background:#0073aa; border:1px solid #005177; border-radius:3px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing:border-box; box-sizing:border-box;
}
.button-ml:hover { background:#13cae0; border:1px solid #3ea5b1; color:#fff; }
.button-ml:active { box-shadow:none; bottom:-2px; position:relative; }
a.button-ml { display:inline-block; margin:0; }
.button_list { margin:20px 0 0 0; padding:0; }
.button_list li { float:left; margin:0 20px 0 0; padding:0; }
.button_list li.delete-row { float:right; margin:0; }
.button_list li .button-ml { margin:0; }
.red_button { background:#a20000 !important; border-color:#680000; }
.red_button:hover { background:#e70000 !important; border-color:#a20000; }
.button_list.right li { float:right; margin:0 0 0 20px; }


/* 中央配置用ボタン */
.button_ml_center .button-ml { margin:20px auto; height:45px; line-height:45px; padding:0 50px; background:#1b8fc7; border:1px solid #0d6f9d; }
.button_ml_center .button-ml:hover { background:#13cae0; border:1px solid #3ea5b1; }


/* 画像関連 */
.image_box { margin:0; }
.image_box .cf_media_field { padding:0; }
.image_box .button_area { }
.image_box img { display:block; max-width:200px; max-height:120px; width:auto; height:auto; margin:0 0 15px 0; background:#ccc; }
.image_box .preview_field { }
.image_box .preview_field.preview_field_video { background:#fff; }
.image_box .preview_field.preview_field_video h4 { margin:0 0 10px 0; font-size:14px; }
.image_box .preview_field.preview_field_video p { border:1px solid #8fcad1; background:#def5f8; border-radius:5px; padding:15px; margin:0 0 15px 0; }
/* 画像入力欄を横並びにする場合  */
.image_list {
  display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
  -ms-flex-wrap:wrap; -webkit-flex-wrap:wrap; flex-wrap:wrap;
}
.image_list .list_item { -ms-flex: 1 1 0%; -webkit-flex: 1 1 0%; flex: 1 1 0%; }
.image_list .list_item img { max-width:90% !important; }


/* ラジオボタンタイプのフィールド */
.select_type1 label { text-align:center; float:left; margin:0 15px 15px 0; }
.select_type1 img { display:block; border:1px solid #ccc; padding:5px; margin:10px 0; }
.select_type1 img:hover { border:1px solid #95cfe7; background:#edfaff; }
.select_type2 label { display:block; margin:0 0 10px 0; }


/* デザインラジオボタン */
.design_radio_button li { margin:0 0 12px 0; }
.design_radio_button input { display:none !important; }
.design_radio_button label { position:relative; padding:0 0 0 26px; display:block; }
.design_radio_button label:before {
  content:''; display:block;
  position:absolute; top:1px; margin:auto; left:0px; width:18px; height:18px; background:#fff; border:1px solid #b4b9be; border-radius:100%;
}
.design_radio_button label:after {
  content:''; display:block;
  position:absolute; top:7px; margin:auto; left:6px; width:8px; height:8px; background:#fff; border-radius:100%;
}
.design_radio_button input:hover + label:before { border-color:#1e8cbe; box-shadow:0 0 0 1px #1763a3 inset; }
.design_radio_button input:checked + label:after { background:#1e8cbe; }
.design_radio_button input:checked + label { }
.design_radio_button.horizontal li { float:left; margin:0 20px 20px 0;}


/* デザインラジオボタン（画像＋背景色付き） */
.design_radio_button2 {
  display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
  -ms-flex-wrap:wrap; -webkit-flex-wrap:wrap; flex-wrap:wrap;
}
.design_radio_button2 li {
	margin:0 10px 0 0; text-align:center; -ms-flex: 1 1 0%; -webkit-flex: 1 1 0%; flex: 1 1 0%; cursor:pointer;
  display:block; background:#fafafa; border:1px solid #ccc; padding:10px; border-radius:10px;
  -webkit-transition: all 0.35s ease; transition: all 0.35s ease;
	-webkit-box-sizing:border-box; box-sizing:border-box;
}
.design_radio_button2 li:last-of-type { margin-right:0; }
.design_radio_button2 li label { }
.design_radio_button2 li:hover, .design_radio_button2 li.active { background:#e6faff; border:1px solid #92cedc; }
.design_radio_button2 li.active { box-shadow:0 0 10px 0px #ccc; }
.design_radio_button2 li img { max-width:100%; height:auto; display:block; border:1px solid #ccc; }
.design_radio_button2 li span.title { display:block; margin:15px 0 5px; font-size:12px; }
.design_radio_button2 li input { display:none; }
@media screen and (max-width:950px) {
  .design_radio_button2 li { margin:0 10px 10px 0; width:calc(50% - 5px); -webkit-flex: 0 1 auto; flex: 0 1 auto; }
  .design_radio_button2 li:last-of-type { margin-right:10px; }
	.design_radio_button2 li:nth-child(2n) { margin-right:0; }
}
@media screen and (max-width:550px) {
  .design_radio_button2 li { margin:0 0 10px 0; width:100%; }
  .design_radio_button2 li:last-of-type { margin-right:0; margin-bottom:0; }
	.design_radio_button2 li:nth-child(2n) { margin-right:0; }
}


/* 画像ラジオボタン */
.image_radio_button { margin:0 0 -20px 0; padding:0; font-size:0; }
.image_radio_button li { font-size:12px; margin:0 25px 25px 0; display:inline-block; max-width:400px; padding:0; }
.image_radio_button li:nth-child(even) { margin-right:0; }
.image_radio_button li label { display:block; padding:0; }
.image_radio_button li input { top:2px; position:relative; }
.image_radio_button li span { display:inline-block; margin:0 0 12px 26px; }
.image_radio_button li img { display:block; max-width:100%; height:auto; }
@media screen and (max-width:1185px) {
  .image_radio_button li { margin:0 0 25px 0; width:100%; }
}


/* デザインレンジスライダー */
.design_range input{ -webkit-appearance: none; margin:0; padding:0; background:none; border:none; cursor:pointer; }
.design_range input::-webkit-slider-runnable-track { width: 250px; height: 2px; background: #ccc; border: none; border-radius: 2px; }
.design_range input::-webkit-slider-thumb { background:#1763a3; -webkit-appearance: none; border: none; height: 20px; width: 20px; border-radius: 100%; margin-top: -9px; }
.design_range input:focus { outline: none; }
/* FF fix */
.design_range input:focus::-webkit-slider-runnable-track { background:#ccc; }
.design_range input{ border: 1px solid white; width: 250px;  }
.design_range input::-moz-range-track { width:100%; height: 2px; background:#ccc; border: none; border-radius: 2px; }
.design_range input::-moz-range-thumb { background:#1763a3; border:none; height: 20px; width: 20px; border-radius: 100%; margin:0; padding:0; }
.design_range input:-moz-focusring{ outline: 1px solid white; outline-offset: -1px; }
.design_range input:focus::-moz-range-track { background:#ccc; }
.design_range input::-moz-range-progress { background:#1763a3; }
/* 数値 */
.design_range .output { text-align:center; border:1px solid #ccc; width:20px; padding:2px; }


/* 開閉式のサブボックス */
.sub_box { border:1px solid #bbb; padding:0 20px 0; margin:0 0 10px 0; box-shadow:0 2px 3px 0 rgba(0,0,0,0.1); }
.sub_box_content { display:none; }
.sub_box.active > .sub_box_content { display:block; padding-bottom:20px; }
.sub_box.active > .sub_box_content:before { content:''; display:block; width:calc(100% + 40px); height:3px; background:#f2f2f2; left:-20px; position:relative; }
.theme_option_subbox_headline {
  font-size:14px; padding:0 20px; height:45px; line-height:45px; margin:-1px -21px 0px; cursor:pointer; position:relative; border:1px solid #bbb; border-bottom:none;
  background:#eee; background: -webkit-linear-gradient(top, #ffffff, #eeeeee); background: linear-gradient(to bottom, #ffffff, #eeeeee);
}
.theme_option_subbox_headline:before {
  border-left:1px solid #ccc; height:45px; line-height:48px; text-align:center; vertical-align:middle;
  font-family:'normal_icon'; content:'\f0d7'; font-size:15px; color:#095fa9; display:block; width:45px; position:absolute; right:0px; top:0px;
}
.theme_option_subbox_headline:hover {
  color:#fff; border-color:#666;
  background:#7c8ba1; background:-webkit-linear-gradient(top, #7c8ba1, #5f6d80); background: linear-gradient(to bottom, #7c8ba1, #5f6d80);
}
.theme_option_subbox_headline:hover:before { color:#fff; border-color:rgba(0,0,0,0.2); }
.sub_box.active > .theme_option_subbox_headline { border-bottom:1px solid #bbb; }
.sub_box.active > .theme_option_subbox_headline:before { content:'\f0d8'; }


/* tinymceの高さを調整 */
.theme_option_field .wp-editor-wrap iframe { min-height:300px !important; }
.theme_option_field .wp-editor-wrap textarea.wp-editor-area { min-height:300px !important; }


/* カラーピッカー */
.wp-picker-container { position:relative; }
.wp-picker-holder { position:absolute; z-index:9999; left:0px; }
.wp-picker-container .wp-color-result.button { margin-bottom:0; }
.color_picker_bottom .wp-picker-holder { bottom:calc(100% + 10px); }
.c-color-picker--static .wp-picker-holder { position: static; }


/* 色の設定リスト、文字サイズの設定リスト */
.option_list li { line-height:2; position:relative; padding:8px 0 0 0; margin:8px 0 0 0; border-top:1px dotted #ccc; }
.option_list li:first-child, .option_list li.hide_border { border:none; }
.option_list li.space { margin-left:36px; }
.option_list .label { float:left; min-width:350px; margin:2px 10px 0 0; }
.option_list li.space .label { min-width:314px; }
.option_list ul { float:left; margin:0; padding:0; width:calc(100% - 360px); }
.option_list ul li { border:none; font-size:11px; margin:0; padding:0; }
.option_list ul.design_radio_button li { font-size:12px; margin:0 20px 5px 0; }
.option_list select { max-width:calc(100% - 365px); }
.option_list li.space select { max-width:calc(100% - 328px); }
.option_list input.full_width, .option_list textarea.full_width { width:calc(100% - 365px); }
.option_list li.space input.full_width, .option_list li.space textarea.full_width { width:calc(100% - 328px); }
.option_list .multi-media-uploader { width:calc(100% - 365px); float:left; }
.option_list .wp-picker-container { float:left; margin-right:15px; }
.option_list .image_box { width:calc(100% - 365px); float:left; }
.option_list .image_box .cf_media_field  { padding:0; }
.option_list li.space .image_box { width:calc(100% - 328px); }
.option_list .theme_option_message2 { clear:both; margin-top:10px; }
.option_list .theme_option_message2.space { margin-left:35px !important; }
.option_list .option_image_list {
	width:calc(100% - 365px);
  display:-webkit-box; display:-webkit-flex; display:flex;
  -webkit-flex-wrap:wrap; flex-wrap:wrap;
}
.option_list .option_image_list .item { -webkit-flex: 1 1 0%; flex: 1 1 0%; }
.option_list .option_image_list .image_box { width:auto; float:none; }
.option_list .wp-editor-wrap { width:100%; clear:both; margin-top:40px; }
.option_list .image_radio_button_option { float:left; width:calc(100% - 365px); }
.option_list .image_radio_button_option .tcd_admin_image_radio_button + label { margin-right:15px; max-width:calc(50% - 15px); }
.option_list .image_radio_button_option .tcd_admin_image_radio_button:last-of-type + label { margin-right:0; }
.option_list .standard_radio_button { width:100%; max-width:calc(100% - 360px); }
@media screen and (max-width:1300px) {
  .option_list .image_radio_button_option .tcd_admin_image_radio_button + label { max-width:300px; }
}
@media screen and (max-width:1100px) {
  .tcd_custom_field_wrap .option_list .label { display:block; float:none; min-width:inherit !important; margin-bottom:5px;}
  .tcd_custom_field_wrap .option_list ul { float:none; width:auto; }
	.option_list li.space { margin-left:0px; }
  .option_list select { max-width:100% !important; }
  .option_list input.full_width { width:100% !important; }
  .option_list textarea.full_width { width:100% !important; }
  .option_list .image_box { width:100% !important; }
  .option_list .theme_option_message2.space { margin-left:0px !important; }
}
@media screen and (max-width:1000px) {
  .font_size { width:50px !important; }
  .option_list .label { display:block; float:none; min-width:inherit; margin-bottom:5px;}
  .option_list ul { float:none; width:auto; }
  .option_list select { max-width:100%; }
	.option_list .option_image_list { width:auto; margin-top:15px; }
	.option_list .standard_radio_button { float:none; width:auto; overflow:auto; max-width:inherit; }
	.option_list .display_post_num_option { float:none; width:auto; margin:0; }
	.option_list .image_radio_button_option { float:none; width:auto; }
  #my_theme_option .multi-media-uploader { width:auto !important; float:none !important; }
}
@media screen and (max-width:600px) {
  .option_list li { padding:5px 0 12px 0; }
  .option_list .label { display:block; float:none; margin:0 0 10px 0; }
}


/* textareaの文字カウント */
.word_count_result { margin-top:10px; background:#bce3eb; padding:5px 10px; display:inline-block; position:relative; }
.word_count_result:before {
  display:block; content:'';
  width:0; height:0; position:absolute; top:-6px; left:0; right:0; margin:auto;
  border-style: solid; border-width: 0 6px 6px 6px;
  border-color: transparent transparent #bce3eb transparent;
}
.word_count_result span { margin:0; font-weight:bold; }


/* その他の設定 */
.hankaku { ime-mode:disabled; }/* 半角英数字の入力のみに制限する */
.font_size { width:50px; }
.uploaded_banner_image p { border:1px solid #8fcad1; background:#def5f8; display:inline-block; padding:5px 20px; border-radius:3px; }
.headline_option label { margin:0 20px 0 0; }
span.label { margin:0 15px 0 0; }
input.full_width, textarea.full_width { width:100%; }
.hidden { display:none; }
.px_label { position:relative; font-size:10px; color:#999; left:-50px; top:3px; }


/* clearfix */
.clearfix::after { display:block; clear:both; content:""; }
.cf::after { display:block; clear:both; content:""; }


/* ページ保護 */
.theme_option_subbox_headline {
  overflow: hidden; padding-right: 70px; text-overflow: ellipsis; white-space: nowrap;
}


/* AJAXを使ってデータを保存 */
.successModal {
  position:fixed; top:0; bottom:0; left:0; right:0; margin:auto; z-index:9999; display:block;
  width:200px; height:70px; line-height:70px; padding:0 20px; text-align:center; border-radius:5px;
  background:#00cc00; box-shadow:0 0 5px 0 rgba(0,0,0,0.4); border:1px solid #009900; color:#fff;
}
#saving_data {
  position:fixed; top:0; bottom:0; left:0; right:0; margin:auto; z-index:9999;
  width:200px; height:70px; line-height:70px; text-align:center; border-radius:5px;
  background:rgba(0,0,0,0.8); box-shadow:0 0 5px 0 rgba(0,0,0,0.4); border:1px solid #888; color:#fff;
}
.successModal p { margin:0; line-height:70px; padding:0; }
#saving_data p { margin:0; position:relative; padding:0 0 0 25px; line-height:16px; margin:0 auto; display:inline; }
#saving_data p:before { content:''; width:16px; height:16px; display:block; position:absolute; left:0px; top:0px; background:url(../img/loader.gif) no-repeat left top; }




/* ----------------------------------------------------------------------
 カテゴリ―のカスタムフィールド
---------------------------------------------------------------------- */
.custom_category_meta { font-weight:normal; background:#fff; border:1px solid #ccc; margin:0 0 20px 0; max-width:790px; }
.custom_category_meta:last-of-type { margin-bottom:-20px; }
.ccm_headline {
  font-size:16px; height:50px; line-height:50px; border-bottom:1px solid #ccc; margin:0px; padding:0 20px; position:relative; box-shadow:0 0 0 1px #fff inset;
  background:#eee; background:-webkit-linear-gradient(top, #ffffff, #eeeeee); background: linear-gradient(to bottom, #ffffff, #eeeeee);
}
.ccm_content { margin:20px; }
.ccm_content .headline { font-weight:bold; font-size:15px; padding:0 0 12px 0; border-bottom:1px solid #ccc; margin:30px 0 10px 0; }
.ccm_content .headline:before { content:''; display:block; float:left; width:5px; height:20px; background:#1763a3; margin:0px 8px 0 0; border-radius:1px; }
.ccm_content input.font_size { width:35px !important; }


/* リピーターフィールド */
.ccm_content .sortable-placeholder { height:50px; background-color:rgba(0,0,0,0.1); margin:0 0 7px 0; visibility: visible !important; border:none; }
.ccm_content .repeater.sortable { background:#e9edee; padding:10px 10px 1px; border-radius:5px; border:1px solid #d0d6d7; min-height:57px; margin-bottom:15px; }
.ccm_content .repeater.sortable .sub_box { background:#fff; }
.ccm_content .repeater.sortable .theme_option_subbox_headline { cursor:move; }
.ccm_content .repeater.sortable .theme_option_subbox_headline:before { cursor:pointer; }




/* ----------------------------------------------------------------------
 アイコン
---------------------------------------------------------------------- */

.c-icon, .c-icon:before {
  color:#3c4043;
  font-family: 'Material Symbols Rounded';
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
  'FILL' 0,
  'GRAD' 0,
  'opsz' 48
}




/* ----------------------------------------------------------------------
  新UI コンテンツビルダー　2023/11追加
---------------------------------------------------------------------- */

/* .admin-contents-builder, .admin-contents-builder * { box-sizing: border-box; } */
.admin-contents-builder img { max-width: 100%; vertical-align: bottom; }

.admin-contents-builder {
  /* background: #61738a; */
  /* background: #fafafa; */
  /* padding:20px; */
}

.admin-contents-builder__list {}


.admin-contents-builder__item { background:#fff; box-shadow: 0px 0px 6px -5px #333; margin-bottom:10px; }
.admin-contents-builder__item-headline {
  cursor: pointer;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  font-size:14px;
}

.is-show > .admin-contents-builder__item-headline,
.admin-contents-builder__item-headline:hover {
  background: #f5faff;
}


.admin-contents-builder__item-headline__handle {
  display:flex; align-items: center; justify-content: center;
  width:50px; height:100%; cursor:grab;
}
.admin-contents-builder__item-headline__label {
  color:#000;
  margin:0; width:200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight:700;
}
.admin-contents-builder__item-headline__info {
  flex:1 1 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right:20px;
}

/* トグルスイッチ */
.admin-contents-builder__item-headline__status {
  display: flex; align-items: center; background: #e5e5e5;
  width: 30px; height: 10px; border-radius: 10px; margin-right: 18px;
}
.admin-contents-builder__item-headline__status:before {
  content:''; display: block; width: 15px; height: 15px;
  background: #fff; border: 1px solid #ddd; border-radius: 50%;
}
.admin-contents-builder__item.is-visible .admin-contents-builder__item-headline__status,
.js-status-target.is-visible .admin-contents-builder__item-headline__status
{ background: #0693e3; justify-content: end; }
.admin-contents-builder__item.is-visible .admin-contents-builder__item-headline__status:before,
.js-status-target.is-visible .admin-contents-builder__item-headline__status:before { border-color:#0693e3; }


.admin-contents-builder__item-headline__delete {
  display: block; width:30px; text-align: center; cursor: pointer; transition: color 0.2s ease;
}
.admin-contents-builder__item-headline__delete:hover {
  color:red;
}


.admin-contents-builder__item-headline__arrow {
  display:block; margin-right:10px;
}
.admin-contents-builder__item.is-show .admin-contents-builder__item-headline__arrow {
  transform: rotate(180deg);
}


/* コンテンツ */

.admin-contents-builder__item-content {
  display:none;
  border: 1px solid #ddd;
  margin-top: -1px;
}
.admin-contents-builder__item.is-show .admin-contents-builder__item-content {
  display:block;
}


.admin-contents-builder__item-content__image {
  background: #f2f2f2; padding:20px; text-align: center;
}
.admin-contents-builder__item-content__image img {
  max-width:300px;
}

.admin-contents-builder__item-content__inner {
  padding:0 20px 20px;
}



/* コンテンツの追加 */
.admin-contents-builder__add { margin-top:30px; border-top: 1px dotted #ddd; border-bottom: 1px dotted #ddd; padding: 20px 0; }
.admin-contents-builder__add-list { display: flex; flex-wrap:wrap; gap:10px; }

.admin-contents-builder__add-info { width: 100%; display: flex; flex-wrap:wrap; margin-bottom:20px; }
.admin-contents-builder__add-info span { font-size:1.1em; font-weight:600; padding-right:15px; margin-right:15px; border-right:1px solid #ddd; }
.admin-contents-builder__add-info p { flex:1 1 0; margin:0; }


.admin-contents-builder__add-item {
  width:200px; cursor: pointer;
}
.admin-contents-builder__add-item:not(.is-active) { pointer-events: none; }
.admin-contents-builder__add-item:not(.is-active) .admin-contents-builder__add-item__overlay {
  opacity:1;
}
.admin-contents-builder__add-item__inner {
  position: relative;
  display: flex;
    align-items: center;
    justify-content: center;
  background: #f0f1f4;
    aspect-ratio: 4 / 3;
    border-radius: 3px;
    overflow: hidden;

}

.admin-contents-builder__add-item__overlay {
  position: absolute; top:0; left:0; right:0; bottom:0;
  display: flex; align-items: center; justify-content: center;
  background: rgb(44 54 62 / 70%); color:#fff; font-weight:600;
  opacity:0; transition: opacity 0.2s ease;
}
.admin-contents-builder__add-item__icon {
  color:#fff; font-weight:600;
  /* font-size:48px; */
}
.admin-contents-builder__add-item:hover .admin-contents-builder__add-item__overlay {
  opacity:1;
}

img.admin-contents-builder__add-item__image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 3px;
  background: #f0f1f4;
  box-shadow: 0px 0px 6px -4px rgb(0 0 0 / 50%);
}
.admin-contents-builder__add-item__label {
  display: block; text-align: center; font-weight:600; margin-top:10px;

}


.admin-contents-builder__add-button {}


/* ----------------------------------------------------------------------
 クラシックエディターのサイドエリア対策
---------------------------------------------------------------------- */
/* float削除 */
#side-sortables .option_list .label,
#side-sortables .option_list li.space .label,
#side-sortables .option_list .image_box,
#side-sortables .option_list li .admin_link_option {
        float: unset;
        display: inline;
}

/* テキストエリアが小さくなりすぎる現象の修正 */
#side-sortables .option_list input.full_width, #side-sortables .option_list textarea.full_width { width:100%; }

/* セレクトボックスが小さくなりすぎる現象の修正 */
#side-sortables .meta-box-sortables select {
    max-width: 100%;
}

/* メディアライブラリが枠外からはみ出る現象の修正 */
#side-sortables .option_list li.space .image_box{
    width: 100%;
}

/* スペース対策 */
#side-sortables .option_list li.space { margin-left:0px; }